/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 2rem 0;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > .container > a {
  text-decoration: none;
  color: #bc63ff;
  font-weight: 600;
  padding: 0.325rem 0;
  font-size: 1.25rem;
}

.nav-list {
  display: flex;
  gap: 0.425rem;
  font-size: 0.725rem;
  list-style: none;
}
.nav-list > li > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.225rem 0;
  white-space: nowrap;
}
.nav-list > li > a:hover {
  transition: all;
  border-bottom: 2px solid #bc63ff;
}

.header > .container > button {
  font-size: 0.625rem;
}

h1 {
  font-size: 3rem;
  text-align: justify;
}

p {
  opacity: 0.7;
  max-width: 23em;
  text-align: justify;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}
/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1;
  white-space: nowrap;
  color: white;
  background-color: #bc63ff;
}

.button:hover {
  opacity: 0.7;
}

.container {
  width: min(1110px, 100%);
  padding-inline: 1rem;
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.main {
  margin: 2rem 0;
}

.main-image-container > img {
  width: 26rem;
  height: 26rem;
}

.flow :not(:first-child) {
  margin-top: 1rem;
}

.cta {
  background: #000;
  color: white;
  padding: 2rem;
}
.cta-button {
  justify-self: center;
}

.tokens {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
}

.tokens-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.token-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.token-box > img {
  width: 3rem;
  height: 3rem;
}
.token-box > p {
  font-size: 0.925rem;
  text-align: center;
}

.branding {
  background: #bc63ff;
  text-align: center;
  color: white;
  padding: 2rem;
}
footer {
  padding: 2rem;
  
}

footer>.container{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
gap: 1rem;
}
footer>.container> a {
  text-decoration: none;
  font-size: 2rem;
  color: #bc63ff;
  font-weight: 700;
}


@media (min-width: 50rem) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .cta-button {
    justify-self: end;
  }
  .tokens-boxes {
    flex-direction: row;
  }
  footer>.container{
    flex-direction: row;
  }
  .nav-list{
    gap: 0.925rem;
  }
}
